#mobileMenu {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#mobileMenu:not(.hidden) {
  opacity: 1;
  transform: scale(1);
}
#mobileMenu.hidden {
  display: none !important;
}
#mobileMenu {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgba(18, 16, 18, 0.95);
  backdrop-filter: blur(10px);
}